html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
}
@media (min-width: 40em) {
  body {
    background-image: url(/images/bg-header-desktop.png);
    background-size: contain;
  }
}

h1,
h2,
h3 {
  margin: 0;
  color: #4c545d;
  text-align: center;
}

@media (min-width: 40em) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 40em) {
  h3 {
    font-size: 1.5rem;
  }
}

header h1 {
  margin-top: 3.125rem;
  padding: 0 1.875rem;
}
@media (min-width: 40em) {
  header h1 {
    font-size: 2.375rem;
  }
}

header p {
  margin-bottom: 1.875rem;
}

p {
  color: #9fabb2;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
@media (min-width: 40em) {
  p {
    max-width: 37.5rem;
  }
}

.__section-4 p {
  margin-bottom: 1.875rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #4c545d;
}

button {
  margin: 0.625rem 0;
  padding: 1rem 2.375rem;
  border-radius: 3.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: white;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  border: none;
  box-shadow: 0 -0.1875rem 0.0625rem rgba(0, 0, 0, 0.2) inset;
}

.__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 40em) {
  .__buttons {
    flex-direction: row;
    max-width: 31.25rem;
    justify-content: space-between;
  }
}

.__btn-ios {
  background-color: #26baa4;
}

.__btn-mac {
  background-color: #6173ff;
}

.__btn-ios:hover {
  background-color: #6cdaca;
  cursor: pointer;
}

.__btn-mac:hover {
  background-color: #99a5ff;
  cursor: pointer;
}

.logo-clipboard-header {
  width: 7.5rem;
}

.img-computer {
  width: 19.375rem;
  padding: 2rem 0;
}
@media (min-width: 40em) {
  .img-computer {
    width: 50rem;
    position: absolute;
    left: -4rem;
    top: 3.125rem;
  }
}

.img-devices {
  width: 19.375rem;
  padding-top: 3.125rem;
}
@media (min-width: 40em) {
  .img-devices {
    width: 50rem;
    padding-top: 6.25rem;
  }
}

.logo-clipboard-footer {
  width: 2.8125rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 4.25rem 0;
}

.__section-1 {
  margin: 2rem;
  padding: 4.25rem 0;
}

.__inner-section-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__inner-section-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 40em) {
  .__inner-section-12 {
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 43.75rem;
  }
}

@media (min-width: 40em) {
  .__tracking-info {
    position: absolute;
    right: 12.5rem;
    top: 12.5rem;
  }
  .__tracking-info h3,
.__tracking-info p {
    text-align: start;
    max-width: 21.875rem;
  }
}

.__info-search,
.__info-sync,
.__info-history {
  padding: 1rem 0;
}

.__section-2 {
  margin: 2rem;
  padding: 4.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__section-3 {
  margin: 2rem;
  padding: 4.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__inner-section-31 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .__inner-section-31 {
    flex-direction: row;
  }
}

.__supercharge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
}
.__supercharge img {
  width: 12%;
  padding: 2rem 0;
}

.__inner-section-32 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.__inner-section-32 img {
  width: 70%;
  padding: 2rem 0;
}
@media (min-width: 40em) {
  .__inner-section-32 {
    width: 100%;
    flex-direction: row;
    padding-top: 12.5rem;
    justify-content: space-between;
  }
  .__inner-section-32 img {
    width: 17%;
    padding: 0 2.5rem;
  }
}

.__section-4 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.25rem 0;
}

footer {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
@media (min-width: 40em) {
  footer {
    flex-direction: row;
    height: 9.375rem;
  }
}
footer > img {
  padding: 2.25rem 0;
}
@media (min-width: 40em) {
  footer > img {
    margin-left: 2rem;
  }
}
footer nav {
  display: flex;
  flex-direction: column;
}
footer nav a {
  padding: 0.5rem 0;
}
@media (min-width: 40em) {
  footer nav {
    width: 37.5rem;
    height: 6.25rem;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 0.75rem;
    margin-left: 4.375rem;
  }
  footer nav a {
    padding: 0.5rem 3rem;
  }
}
footer .__social-icons {
  display: flex;
  justify-content: space-between;
  width: 9.375rem;
  margin: 2rem;
}
@media (min-width: 40em) {
  footer .__social-icons {
    margin-left: 31.25rem;
  }
}/*# sourceMappingURL=style.css.map */