@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-bai);
  background: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  @include breakpoint(medium) {
    background: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
