@use "../util/" as *;

h1,
h2,
h3 {
  margin: 0;
  color: var(--dark-grayish-blue);
  text-align: center;
}
h2 {
  @include breakpoint(medium) {
    font-size: rem(32);
  }
}
h3 {
  @include breakpoint(medium) {
    font-size: rem(24);
  }
}
header h1 {
  margin-top: rem(50);
  padding: 0 rem(30);
}
header p {
  margin-bottom: rem(30);
}
p {
  color: var(--grayish-blue);
  font-size: rem(16);
  line-height: rem(24);
  text-align: center;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
