@use "../util/" as *;

h1,
h2,
h3 {
  margin: 0;
  color: var(--dark-grayish-blue);
  text-align: center;
}
h1 {
  @include breakpoint(medium) {
    font-size: rem(38);
  }
}
h2 {
  font-size: rem(28);
  @include breakpoint(medium) {
    font-size: rem(32);
  }
}
h3 {
  font-size: rem(22);
  @include breakpoint(medium) {
    font-size: rem(24);
  }
}

p {
  color: var(--grayish-blue);
  font-size: rem(16);
  line-height: rem(24);
  text-align: center;
  max-width: rem(620);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
